span{
    font-weight: 600;
}

.faq-h2{
    text-align: center;
    padding: 20px;
    font-style: oblique;
    text-decoration: overline;
}

@media (max-width:600px) {
    .accord-body{
        font-size: medium;
    }
}

