.kfc-logo{
    width: auto;
    height: 120px;
}

.modal{
    font-weight: 600;
    font-style: oblique;
}

.nav-links{
    text-decoration-line: none;
    color: black;
    margin: 3%;
}

.nav-links:hover{
    color:rgb(230, 78, 78);  ;
}

.nav-more{
    margin-left: 3%;

}